input{
    width:100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}



input:focus {
    border-color: deepskyblue;
}

h4{
    flex-shrink: 0;
}

.inputContent{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0px;
}

.btn{
    margin-top: 15px;
}

.line{
    display: inline-flex;
    width: 100%;
    margin: 2px;
}